* {
    margin: 0;
    padding: 0;
}

.page3 {
    background-color: #C08886;
    width: 100%;
    /*height: 90vh; /*screen size*/
    min-height: 60vh;

    display: flex;
    flex-direction:column;
}

.page3 .deco {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.page3 .deco .flower2 {
    height: 240px;
    margin-top: -110px;
}
.page3 .deco .line2 {
    width: 450px;
    height: 130px;
    margin-top: 25px;
}

.page3 .title .titleA{
    margin-top: 30px;
    height: 36px;
    margin-left: 87px;
}

.end {
    background: #452E3C;
    width: 100%;
    min-height: 15vh;
}

.members{
  /* width: 300px; */
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 20px;
  padding: 50px;
  max-height: 700px;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  /* width: max-content; */
  /* justify-content: space-evenly; */
}

.member{
  padding: 50px;
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.memberImg{
  width: 220px;
  height: 220px;
  background-color: #452E3C;
  border-style: solid;
  border-width: 10px;
  border-color: #452E3C;
  border-radius: 75px;
  transition: .25s;
}

.memberContent{
  display:flex;
  width: 240px;
  justify-content: center;
  /* align-items: center; */
  color: #452E3C;
  font-family: 'Konkhmer Sleokchher';
  background-color: #E8D6C5;
  border-style: solid;
  border-radius: 75px;
  border-color:#E8D6C5; 
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.member:hover{
  cursor:pointer;
}

.member:hover .memberContent{
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.member:hover img{
  transform: scale(1.1);
}
